<img src="{{ site.url }}/images/{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }} bio photo" width="100" height="100"></a>

<!-- <h4>{{ site.owner.name }}</h4> -->

<p>{{ site.owner.bio }}</p>
{% if site.owner.email %}<p style="text-indent:0;margin-top:1.5em;"><a href="mailto:{{ site.owner.email }}" target="_blank"><i class="icon-mail"></i> Email</a></p>{% endif %}

{% if site.owner.twitter %}<p style="text-indent:0;"><a href="https://twitter.com/{{ site.owner.twitter }}"><i class="icon-twitter"></i> Twitter</a></p>{% endif %}

{% if site.owner.facebook %}<p style="text-indent:0;"><a href="https://facebook.com/{{ site.owner.facebook }}"><i class="icon-facebook"></i> Facebook</a></p>{% endif %}

{% if site.owner.google_plus %}<p style="text-indent:0;"><a href="{{ site.owner.google_plus }}"><i class="icon-google-plus"></i> Google+</a></p>{% endif %}

{% if site.owner.linkedin %}<p style="text-indent:0;"><a href="https://linkedin.com/in/{{ site.owner.linkedin }}"><i class="icon-linkedin"></i> LinkedIn</a></p>{% endif %}

{% if site.owner.instagram %}<p style="text-indent:0;"><a href="https://instagram.com/{{ site.owner.instagram }}"><i class="icon-instagram"></i> Instagram</a></p>{% endif %}

{% if site.owner.github %}<p style="text-indent:0;"><a href="https://github.com/{{ site.owner.github }}"><i class="icon-github"></i> Github</a></p>{% endif %}

{% if site.owner.lastfm %}<p style="text-indent:0;"><a href="https://lastfm.com/{{ site.owner.lastfm }}"><i class="icon-lastfm"></i> Last.fm</a></p>{% endif %}

{% if site.owner.tumblr %}<p style="text-indent:0;"><a href="https://{{ site.owner.tumblr }}.tumblr.com"><i class="icon-tumblr"></i> Tumblr</a></p>{% endif %}

{% if site.owner.scholar%}<p style="text-indent:0;"><a href="{{ site.owner.scholar}}"><i class="ai ai-google-scholar-square"></i> Google Scholar</a></p>{% endif %}

<!-- {% if site.owner.Bilibili %}<p style="text-indent:0;"><a href="https://bilibili.com/{{ site.owner.bilibili }}"><i class="icon-bilibili"></i> Bilibili</a></p>{% endif %} -->


<!-- 新增常用链接部分 -->
<h4>Useful links</h4>
<ul>
 <!--   <li><a href="https://github.com" target="_blank">GitHub</a></li>  -->
 <!--   <li><a href="https://www.google.com" target="_blank">Google</a></li>  -->
 <!--   <li><a href="https://arxiv.org" target="_blank">arXiv</a></li>  -->
 <!--   <li><a href="https://inspirehep.net" target="_blank">inspirehep</a></li>  -->
    <li><a href="https://itp.cas.cn" target="_blank">ITP-CAS</a></li>
    <li><a href="https://www.ipmu.jp" target="_blank">IPMU, UTokyo</a></li>
    <li><a href="https://rchep.pku.edu.cn/" target="_blank">CHEP, Peking U.</a></li>
    <li><a href="https://ifpqt.nbu.edu.cn//" target="_blank">IFRQT, Ningbo U.</a></li>
    <li><a href="http://jcap.sissa.it/" target="_blank"><em>JCAP</em></a></li>
    <li><a href="http://cpc.ihep.ac.cn/" target="_blank"><em>Chinese Physics C</em></a></li>
    <li><a href="https://www.mdpi.com/journal/symmetry" target="_blank"><em>Symmetry</em></a></li>
</ul>
